.skills-list > li {
  color: #fff;
  background-color: #1e2225;
  padding: 6px;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 300;
  margin-top: 6px;
  margin-right: 6px;
}

.skills-list > li > a:hover {
  text-decoration: underline;
}

.container{
  overflow-x: hidden;
}